
        <footer class="footer">
            <div class="page-container">
                <a href="https://www.github.com/gandalf789/" target="_blank" rel="noopener noreferrer"><strong>[github]</strong></a>
                <a href="https://www.instagram.com/timo.ciupei" target="_blank" rel="noopener noreferrer"><strong>[instagram]</strong></a>
                <a href="https://open.spotify.com/user/31rxokhctjqyq2bie3idebzd4jra" target="_blank" rel="noopener noreferrer"><strong>[spotify]</strong></a>
            </div>
        </footer>


      <!-- <div class="DivFooter">
        <footer class="footer">
            <div class="footer-content">
                <a href="https://www.github.com/gandalf789/" target="_blank" rel="noopener noreferrer"><strong>[github]</strong></a>
                <a href="https://www.instagram.com/timo.ciupei" target="_blank" rel="noopener noreferrer"><strong>[instagram]</strong></a>
                <a href="https://open.spotify.com/user/31rxokhctjqyq2bie3idebzd4jra" target="_blank" rel="noopener noreferrer"><strong>[spotify]</strong></a>
            </div>
        </footer>
    </div> -->
    