// -------------- THEME SWITCHER -------------- //
@mixin dark-appearance {
  filter: invert(1);
  img {
    filter: invert(1);

    &.ioda { filter: invert(0); }
  }
}

body[a="dark"] { @include dark-appearance; }


@media (prefers-color-scheme: dark) {
  body[a="auto"] { @include dark-appearance; }
}
// -------------------------------------------- //

// bg color is also needed in html in order to
// block body's background propagation
// see: https://stackoverflow.com/a/61265706
html, body { background: white; }


html { height: 100%; }

body {
	background: linear-gradient(-45deg,#ed99b0, white, #ed99b0);
	background-size: 400% 500%;
	animation: gradient 40s ease-in-out infinite;

  color: black;
  font-family: monospace;
  font-size: 20px;

  line-height: 1.4;
  margin: 0;
  padding: 16px;
  min-height: 100%;
  overflow-wrap: break-word;
}

// body {
//   // height: 100vh;
//   // animation: gradient 2s ease infinite;
//   // background-size: 400% 400%;
//   // background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
//   color: black;
//   font-family: monospace;
//   font-size: 20px;
//   line-height: 1.4;
//   margin: 0;
//   padding: 16px;
//   min-height: 100%;
//   overflow-wrap: break-word;
// }


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.post-meta { text-align: right; }




h2, h3, h4, h5, h6 { margin-top: 3rem; }

hr { margin: 2rem 0; }

p { margin: 1rem 0; }

li { margin: 0.4rem 0; }

*:target { background: #256d1b; }

a {
  position:relative;
  color: black;
  text-decoration:none;
}
::selection{
  background: #b3469c;
  color: white;
}
a::before {
  top: 24px;
  bottom: -2px;
  left: 0;
  right: 0;
  transform: scaleX(1);
  transform-origin:top right;
}
a:hover::before {
  top: 24px;
  bottom: -2px;
  left: 0;
  right: 0;
  transform:scaleX(0);
  transform-origin: top right;
}
a::before{
  content: " ";
  position: absolute;
  top: 24px;
  bottom: -2px;
  left: 0;
  right: 0;
  background:  #b3469c;
  z-index: -1;
  transition:transform .8s ease
}


.w {
  max-width: 640px;
  margin: 0 auto;
  padding-top: 2rem;
  padding-right: 2rem;
  padding-bottom: 6rem;
  padding-left: 2rem;
}

hr {
  text-align: center;
  border: 0;

  &:before { content: '/////' }
  &:after { content: attr(data-content) '/////' }
}

table { width: 100%; }

table, th, td {
  border: thin solid black;
  border-collapse: collapse;
  padding: 0.4rem;
}

code {
  color: white;
  background: black;
}

::marker{
  content: '* ';
}

div.highlighter-rouge code {
  display: block;
  overflow-x: auto;
  white-space: pre-wrap;
  padding: 1rem;
}

blockquote {
  font-style: italic;
  border: thin solid black;
  padding: 1rem;

  p { margin: 0; }
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

// .footer {
//   position: absolute;
//   padding: 10px 0 10px 0;
//   right: 28%;
//   bottom: 8px;
//   top: auto;
//   left: 28%;
//   text-align: center;
//   border: 4px #b3469c;
//   border-style:solid;  
//   border-bottom-style:none;
//   border-top-style: none;
// }
// .page-container {
//   position:relative;
//   min-height:16px;
// }


// .footer {
//   display: flex; /* Use flexbox layout */
//   justify-content:center; /* Center the content horizontally */
//   padding: 4px 10px 4px 10px; /* Add padding for better readability */
//   border: 4px #636d5c;
//   border-style:solid;  
//   border-bottom-style:none;
//   border-top-style: none;
// }



// .footer-content{
//   text-align: center;
//   display: inline-block;
//   min-height:2vh;
// }

// div.DivFooter{
//   position: absolute;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   padding-bottom: 16px;
//   display: flex;
//   justify-content:center;

// }


.footer {
  justify-content: center;
  text-align: center;
  height: 50px;
  width: 100%;
  background-color: #ffffff;
  opacity: 0.84;
  position: absolute;
  z-index: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.page-container{
  padding-top: 8px;
  padding-bottom: 8px;
}

@media only screen and (max-width : 500px){ /* You can edit the max-width value to match what you need */
.footer {
  height: 50px;
  width: 100%;
  background-color: #ffffff;
  opacity: 0.84;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top:30px; /* You can edit the value of the margin top as you need */
}
}